# Heading1
## Heading2
### Heading3
#### Heading4
##### Heading5
###### Heading6

- welcome to Data Analysis Workshop
    - Introduction to data
        - what is data
- welcome to ~**Data Analysis**~ Workshop
<img src ="https://images.ctfassets.net/23aumh6u8s0i/6uBzrqHNLlSAoER6HtgDN0/accd8f871b1de37f472b94da4346afa2/python-hero" height=300px width=300px>

[nec](http://apssdc.in)

## Files

- open(filename,modes)
- read()
- write()
- readlines()
- close()
- modes read-r,write-w,append-a

In [1]:
f= open('data.txt','w')
data = "welcome to nec college students"
f.write(data)
f.close()

In [3]:
f= open('data.txt','r')
d = f.read()
print(d)

welcome to nec college students

In [8]:
f = open('data.txt','a')
s="\ndata analysis workshop"
f.write(s)
f.close()

In [10]:
f = open('marks.txt','r')
d=f.read()
print(d)

a 70 80 90 100
b 80 90 85 95

In [27]:
f=open('marks.txt')
f1=open('total marks.txt','w')
d=f.readlines()
for i in d:
    words=i.split()
    name=words[0]
    #total = int(words[1])+int(words[2])+int(words[3])+int(words[4])
    total= sum(list(map(int,words[1:])))
    print(name,"",total)
    f1.write(name+""+str(total)+"\n")
f1.close()

a  340
b  350

## Regular Expressions

In [1]:
import re

In [2]:
#re.match(pattern,string)
#re.search()
#re.findall()

In [5]:
a="bbaSaiRam"
re.match('b',a)

In [6]:
a="AbbaSaiRam"
re.search('b',a
         )

In [7]:
a="AbbaSaiRam"
re.findall('b',a)

['b', 'b']

In [8]:
# ^ matches the beginning of the line
a="AbbaSaiRam"
re.search('^b',a)

In [14]:
# $ matches the ending of a line
a="AbbaSaiRam"
re.search('m$',a)

In [17]:
a="abbaSAira,"
re.search('.',a)

In [25]:
a=['ravi','anil','raju','ranga','uma','sai']
for i in a:
    if re.search('^r.{4,6}$',i):
        print(i)

ranga

In [29]:
# \d matches the digits only
a="gaya31gaya312"
re.findall('\d+',a)

['31', '312']

In [34]:
# \D matches the non-digits only
a="@gaya3$"
re.search('\D+',a)

In [44]:
# \W matches the special characters
a="gaya3$"
re.findall('\W*',a)

['', '', '', '', '', '$', '']

In [50]:
# \s matches the Alphabets
a="gaya  3"
re.search('\s+',a)

In [57]:
# [a-z] alphabe5ts in listed set
re.search('[0-9]+','ravi  0559')

In [63]:
a=['ravi','60','70','anil','80']
total=0
for i in a:
    if (re.findall('[0-9]',i)):
        total=total+int(i)
print(total)

210

In [72]:
f=open('re.txt')
d=f.read()
total=0
for i in d:
    if re.search('[0-9]',i):
        total= total+int(i)
print(total)
f1.close()

49